<%= form_for ['admin',@download] do |f| %>
  <%= render "application/error_messages", :target => @download %>

  <fieldset>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :file %>
    <%= f.hidden_field :file_cache %>
    <%= f.file_field :file %>
    <%= link_to(@download.file, @download.file.url, target: '_blank') if @download.file %>

  </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
