<%= form_for['admin',@service] do |f| %>
  <%= render "application/error_messages", :target => @service %>

  <fieldset>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
