<h1>Login</h1>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email], autofocus: true %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log in" %>
<% end %>
