<div>
  <h1>Our Ethos</h1>
<table class="sortable" data-update-url="<%= sort_admin_ethoses_url %>">
<% @ethoses.each do |ethos| %>
<%= content_tag_for :tr, ethos do %>
    <td>+</td>
    <td><%= link_to ethos, edit_admin_ethos_path(ethos) %></td>
    <td><%= link_to 'Delete', admin_ethos_path(ethos), method: 'delete', confirm: 'Are you sure you want to delete this ethos?' %></td>
<% end %>
<% end %>
</table>
</div>

<%= link_to "New Ethos", new_admin_ethos_path, class: 'button' %>