<h1>Downloads</h1>

<ul>
<% @downloads.each do |download| %>
  <li class="download" data-url="<%= download.file.url %>">
    <div class="inner">
      <h3>Emergency Lighting Regulations<%#= link_to download.name, download.file.url %></h3>
      <span class="date_uploaded"><%= l(download.updated_at, format: :micro) %></span>
      <!--<div><%= download.description %></div>
      <span><%= link_to('Edit', edit_admin_download_path(download), class: 'button')  if current_user.present? %></span>-->
    </div>
  </li>
<% end %>
</ul>

<%= link_to('New Download', new_admin_download_path, class: 'button') if current_user.present? %>
