<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @download.name %>
</p>

<p>
  <b>Description:</b>
  <%= @download.description %>
</p>

<p>
  <b>File:</b>
  <%= @download.file %>
</p>


<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
