<% title "Activity" %>
<ul id="social_columns">
  <li class="twitter">
    <h2>Twitter</h2>
    <ul>
    <% @tweets.each do |tweet| %>
      <li class="tweet">
        <span class="title">twitter, <%= time_ago_in_words tweet.posted_at %> ago</span>
        <p><%= auto_link(tweet).html_safe %></p>
        <%= image_tag(tweet.media, class: 'twitter_media') if tweet.media.present? %>
      </li>
    <% end %>
    </ul>
  </li>

  <li class="facebook"></li>

  <li class="youtube">
    <h2>Youtube</h2>
    <ul>
    <% @videos.each do |video| %>
      <li class="youtube_video">
        <span class="title">youtube, <%= time_ago_in_words video.published_at %> ago</span>
        <div class="video"><%= raw video_tag(video.uid, '100%', 300) %></div>
      </li>
    <% end %>
    </ul>
  </li>

  <li class="flickr"></li>
</ul>