<%= form_for ['admin',@project] do |f| %>

  <%= render "application/error_messages", :target => @project %>

  <fieldset>
    <legend>Details</legend>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :who %>
      <%= f.text_field :who %>
    </div>
    <div class="field">
      <%= f.label :where %>
      <%= f.text_field :where %>
    </div>
    <div class="field">
      <%= f.label :what %>
      <%= f.text_field :what %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </fieldset>

  <fieldset id="media">
    <legend>Media</legend>

    <fieldset id="photos">
      <legend>Photos</legend>
      <div><span class="hint">Drag to reorder. The first item will be the default window image and thumbnail.</span></div>

      <ul class="sortable" data-update-url="<%= sort_admin_photos_url %>">
      <% @project.photos.each do |photo| %>
        <% unless photo.new_record? %>
          <%= content_tag_for :li, photo do %>
            <%= link_to "#{image_tag(photo.image_url(:thumb))}".html_safe, edit_admin_photo_path(photo) %>
          <% end %>
        <% end %>
      <% end %>
      </ul>



    <%= f.fields_for :photos do |p| %>
      <% if p.object.new_record? %>
      <div class="field">
        <%= p.label :image %>
        <%= p.file_field :image %>
      </div>
      <% end %>
    <% end %>

  </fieldset>


    <fieldset id="videos">
      <legend>Videos</legend>
      <div data-update-url="<%= sort_videos_admin_projects_url %>">
        <%= link_to "Manage Youtube Videos", "http://www.youtube.com/my_videos?feature=mhee", target: 'blank' %>
        <%= f.select :video_ids, options_for_select(
          Video.all.map{ |v| [v.name, v.id ]},
          Video.all.map{|v| v.id if v.project_id == @project.id }), {}, multiple: true, id: 'multi' %>
      </div>
    </fieldset>
  </fieldset>

  <fieldset id="quotes">
    <legend>Quotes</legend>
    <%= f.fields_for :quotes do |q| %>
      <fieldset class="quote" id="<%= dom_id q.object %>">
        <legend>Quote</legend>
        <% unless q.object.new_record? %>
        <%= link_to "delete", admin_quote_path(q.object), remote: true, method: 'delete', confirm: 'Are you sure?' %>
        <% end %>
        <div class="field">
        <%= q.label :body %>
        <%= q.text_area :body, placeholder: "Urban Lights were great", rows: 6 %>
        </div>
        <div class="field">
        <%= q.label :author %>
        <%= q.text_field :author, placeholder: "Bugs Bunny" %>
        </div>
        <div class="field">
        <%= q.label :organisation %>
        <%= q.text_field :organisation, placeholder: "ACME Corporation" %>
        </div>
        <%#= q.label :_destroy, 'Delete Quote' %>
        <%= q.check_box :_destroy %>
      </fieldset>
    <% end %>
  </fieldset>




  <div>
    <%= f.submit %>
  </div>
<% end %>