<%= form_for ['admin',@project] do |f| %>

  <%= render "application/error_messages", :target => @project %>

  <fieldset>
    <legend>Details</legend>
    <div class="field">
      <%= f.label :name %><%= mark_required(@project, :name) %>
      <%= f.text_field :name, style: 'width: 300px' %>
    </div>
    <div class="field">
      <%= f.label :who %><%= mark_required(@project, :who) %>
      <%= f.text_field :who, style: 'width: 300px' %>
    </div>
    <div class="field">
      <%= f.label :where %><%= mark_required(@project, :where) %>
      <%= f.text_field :where, style: 'width: 300px' %>
    </div>
    <div class="field">
      <%= f.label :what %><%= mark_required(@project, :what) %>
      <%= f.text_field :what, style: 'width: 300px' %>
    </div>
    <div class="field">
      <%= f.label :when %><%= mark_required(@project, :when) %>
      <%= f.date_select :when, order: [:month, :year], end_year: Time.now.year %>
    </div>
    <div class="field">
      <%= f.label :description %><%= mark_required(@project, :description) %>
      <%= f.text_area :description, rows: 8 %>
    </div>
  </fieldset>

  <fieldset id="media">
    <legend>Media</legend>

    <fieldset id="photos">
      <legend>Photos</legend>
      <div><span class="hint">Click on the image to edit or delete it. Drag the image to reorder it on the project page. The first image will be the project's thumbnail.</span></div>

      <ul class="sortable" data-update-url="<%= sort_admin_photos_url %>">
      <% @project.photos.each do |photo| %>
        <% unless photo.new_record? %>
          <%= content_tag_for :li, photo do %>
            <%= link_to "#{image_tag( [photo.image_url(:thumb),'?',Time.now.to_i].join )}".html_safe, edit_admin_photo_path(photo) %>
          <% end %>
        <% end %>
      <% end %>
      </ul>

    <fieldset>
      <legend>Upload new photos</legend>
      <span class="hint">Use the boxes below to pick the photos you want to upload, then click the submit button at the bottom of the page</span><br/><br/>

    <%= f.fields_for :photos do |builder| %>
      <%= render 'photo_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Another Photo", f, :photos %>
  </fieldset>

  </fieldset>


    <fieldset id="videos">
      <legend>Videos</legend>

      <div data-update-url="<%= sort_videos_admin_projects_url %>">
        <%= link_to "Click to open YouTube", "http://www.youtube.com/my_videos?feature=mhee", target: 'blank', style: 'float: right' %>
        <br/><p><span class="hint">Choose the videos for this project page from your youtube channel using the combobox below</span></p>

        <%= f.select :video_ids, options_for_select(
          Video.all.map{ |v| [v.name, v.id ]},
          Video.all.map{|v| v.id if v.project_id == @project.id && v.project_id.present? }), {}, multiple: true, id: 'multi' %>
      </div>
    </fieldset>
  </fieldset>

  <fieldset id="quotes">
    <legend>Quotes</legend>

    <span class="hint">Fill out the boxes below for any quotes that you want to show on the project page</span>

    <%= f.fields_for :quotes do |builder| %>
      <%= render 'quote_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Another Quote", f, :quotes %>

  </fieldset>




  <div>
    <%= f.submit %>
  </div>
<% end %>