<%= form_for ['admin',@project] do |f| %>

  <%= render "application/error_messages", :target => @project %>

  <fieldset>
    <legend>Details</legend>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :who %>
      <%= f.text_field :who %>
    </div>
    <div class="field">
      <%= f.label :where %>
      <%= f.text_field :where %>
    </div>
    <div class="field">
      <%= f.label :what %>
      <%= f.text_field :what %>
    </div>
    <div class="field">
      <%= f.label :equipment_used %>
      <%= f.text_area :equipment_used %>
    </div>
  </fieldset>


  <fieldset id="media">
    <legend>Media</legend>
    <div id="videos">
      <%= link_to "Manage Youtube Videos", "http://www.youtube.com/my_videos?feature=mhee", target: 'blank' %>
      <%= f.select :video_ids, options_for_select(
        Video.all.map{ |v| [v.name, v.id ]},
        Video.all.map{|v| v.id if v.project_id == @project.id }), {}, multiple: true, id: 'multi' %>
    </div>
  </fieldset>

  <div>
    <%= f.submit %>
  </div>
<% end %>
