<fieldset class="quote" id="<%= dom_id f.object %>">
  <legend>Quote</legend>
  <% unless f.object.new_record? %>
  <%= link_to "remove", '#', class: 'delete' %>
  <%#= admin_quote_path(f.object), remote: true, method: 'delete', confirm: 'Are you sure?', %>
  <% end %>
  <div class="field">
  <%= f.label :body %>
  <%= f.text_area :body, placeholder: "Urban Lights were great", rows: 6 %>
  </div>
  <div class="field">
  <%= f.label :author %>
  <%= f.text_field :author, placeholder: "Richard Branson", style: 'width: 300px' %>
  </div>
  <div class="field">
  <%= f.label :position %>
  <%= f.text_field :position, placeholder: "CEO", style: 'width: 300px' %>
  </div>
  <div class="field">
  <%= f.label :organisation %>
  <%= f.text_field :organisation, placeholder: "Virgin", style: 'width: 300px' %>
  </div>
  <%#= f.label :_destroy, 'Delete Quote' %>
  <%= f.hidden_field :_destroy, class: 'delete_checkbox' %>
</fieldset>