<% title "Urban Lites, Manchester Based Event Lighting Company" %>


<div id="sushislider">
  <a id="previous" href="#">Previous</a>
  <a id="next" href="#">Next</a>
  <div class="wrapper">
    <div id="inner_wrapper">
    <% project = Project.first %>

    <h1>hello</h1>
    <ul>
      <% @projects.each do |project| %>
        <% quote = project.quotes.first(:order => "RANDOM()") %>

        <li class="item" style="background-image: url(<%= project.frontpage_image %>)" data-url="<%= project_path(project) %>" data-who="<%= project.who %>" data-name="<%= project.name %>" data-what="<%= project.what %>" data-when="<%= project.when %>" data-where="<%= project.where %>" data-quote="<%= simple_format "‘#{truncate quote.body, length: 170}’" if quote %>" data-quote-author="<%= quote.author if quote %>" data-quote-organisation="<%= quote.organisation if quote %>" >
          <!--<h2>Management Event 2012</h2>-->
        </li>
      <% end %>
    </ul>

    <div class="description">
      <div class="inner">
        <span class="quote">
        <q></q>
        <span class="author"></span>
        <span class="company"></span>
        </span>
        <dl>
          <dt>Who</dt><dd id="project_who"></dd>
          <dt>Where</dt><dd id="project_where"></dd>
          <dt>When</dt><dd id="project_when"></dd>
          <dt>What</dt><dd id="project_what"></dd>
        </dl>
      </div>
      <div class="see_more">
        <%= link_to "Want to see more?", projects_path %>
      </div>
    </div>


    </div>
  </div>
</div>

<div id="description">
  <h5>UrbanLites</h5>
  <h6>Manchester Based Event Lighting Company</h6>
  <p>UrbanLites provide creative lighting solutions for the professional live events industry.
  Our experience ranges from creating stunning corporate events and exhibitions, to lighting up entertainment events such as rock concerts, club and party nights, outdoor festivals and theatre.</p>
</div>

<%= render 'application/twitter' %>
