<% title "Urban Lites, Manchester Based Event Lighting Company" %>


<div id="sushislider">
  <a id="previous" href="#">Previous</a>
  <a id="next" href="#">Next</a>
  <div class="wrapper">
    <div id="inner_wrapper">
    <div id="player_container"><div id="player"></div></div>
    <ul>
      <% @projects.each do |project| %>
        <li class="item" style="background-image: url(<%= project.frontpage_image %>)" data-url="<%= project_path(project) %>">
          <h1><%= link_to project.name, project %></h1>
          <!--<h2>Management Event 2012</h2>-->
          <div class="description">

            <div class="inner">
              <% if (quote = project.quotes.first(:order => "RANDOM()")) %>
              <span class="quote">
              <q><%= simple_format "‘#{quote.body}’" %></q>
              <span class="author"><%= quote.author %></span>
              <span class="company"><%= quote.organisation %></span>
              </span>
              <% end %>

            <dl>
              <dt>Who</dt>
              <dd><%= project.who %></dd>
              <dt>When</dt>
              <dd><%= l(project.when, format: :short) %></dd>
              <dt>What</dt>
              <dd><%= project.what %></dd>
            </dl>

            </div>

            <div class="see_more">
              <%= link_to "Want to see more?", projects_path %>
            </div>
        </li>
      <% end %>
      <li class="item video" data-youtube-id="5WWrQ9Rgk_4">
        <!--<h1><%= link_to 'project.name', 'project' %></h1>-->
      </li>
    </ul>
    </div>
  </div>
</div>

<div id="description">
  <h5>UrbanLites</h5>
  <h6>Manchester Based Event Lighting Company</h6>
  <p>UrbanLites provide creative lighting solutions for the professional live events industry.
  Our experience ranges from creating stunning corporate events and exhibitions, to lighting up entertainment events such as rock concerts, club and party nights, outdoor festivals and theatre.</p>
</div>

<%= render 'application/twitter' %>
