<% title "Our Ethos" %>

<div id="sushislider">
  <a id="previous" href="#">Previous</a>
  <a id="next" href="#">Next</a>
  <div class="wrapper">
    <div id="inner_wrapper">

      <div class="inner_container">
        <div class="inner">
          <h1>aa</h1>
          <div class="description">bb</div>
        </div>
      </div>

    <ul>
      <% Ethos.all.each_with_index do |ethos,index| %>
      <li class="item" style="background: url(<%= ethos.image.url if ethos.image.present? %>)" data-index="<%= index %>" data-headline="<%= ethos.headline %>" data-description="<%= simple_format ethos.description %>">
      </li>
      <% end %>
    </ul>

    <ol>
      <% Ethos.all.each_with_index do |ethos,index| %>
        <li class="thumb" ><%= index + 1 %></li>
      <% end %>
    </ol>

    </div>
  </div>
</div>
