<h1>Projects</h1>

<div id="projects">

<% @projects.each_with_index do |project,index| %>
<div id="<%= dom_id project %>" class="project" data-url="<%= project_path(project) %>">
  <div class="inner">

    <div class="thumb"><%= image_tag(project.photos.first.image.thumb.url) if project.photos.first %></div>

    <div class="description">

      <h3 class="name"><%= link_to project.name, project %></h3>
      <span class="description"><%= truncate(project.description, :length => 150) %></span>
      <%= link_to "Read more...", project, class: 'read_more' %>
    </div>

  </div>
</div>
<% end %>
</div>

<%#= link_to('New Project', new_admin_project_path) if current_user.present? %>
