<% @projects.each do |project| %>
<div id="<%= dom_id project %>" class="project">
  <div class="thumb" style="float: <%= cycle('left','right') %>">
  <%= image_tag(project.photos.first.image.thumb.url) if project.photos.first %>
  </div>

  <h3><%= link_to project.name, project %></h3>
  <!--<span><%= link_to('Edit', edit_admin_project_path(project)) if current_user %></span>-->
  <span><%#= link_to('Destroy', project, confirm: 'Are you sure?', method: :delete) if current_user %></span>

  <span><%= project.who %></span>
  <span><%= project.where %></span>
  <span><%= project.what %></span>
  <span><%= project.when %></span>
  <span><%= project.equipment_used %></span>
</div>
<% end %>

<br />

<%= link_to('New Project', new_admin_project_path) if current_user.present? %>
