<div id="previous_project">
  <%= link_to("← #{@project.previous}", @project.previous) if @project.previous %>
  &nbsp;
</div>
<div id="next_project">
  &nbsp;
  <%= link_to("#{@project.next} →", @project.next) if @project.next %>
</div>

<script type="text/javascript" charset="utf-8">
  window.thumbs = <%= raw @project.photos.map{ |p| p.image.thumb.url }.to_json %>
</script>

<div id="window_container">
  <div id="my-slideshow">
    <ul class="bjqs">
      <% @project.photos.each do |photo| %>
      <li>
        <div class="window" style="background-image: url(<%= photo.image_url(:window) %>)">
          <div class="inner_container">
          <div class="inner">
          <h1><%= @project.name %></h1>
          <!--<iframe width="880" height="420" src="http://www.youtube.com/embed/WD8HF-AL2yY?wmode=opaque" frameborder="0" allowfullscreen></iframe>-->
          </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="project_detail">

<h2><%= @project.name %></h2>
<span id="in_more_detail">In more detail</span>
<%= simple_format @project.description %>
</div>

<div id="project_quotes">
  <ul>
    <% @project.quotes.each do |quote| %>
    <li class="quote">
      <blockquote><%= simple_format "‘#{quote.body}’" %></blockquote>
      <span class="author"><%= quote.author %>, <%= quote.organisation %></span>
    </li>
    <% end %>
  </ul>
</div>
