<div id="my-slideshow">
  <%= link_to('Edit', edit_admin_project_path(@project)) if current_user.present? %>
  <h1 id="project_name"><%= @project.name %></h1>
  <ul class="bjqs">
  <% @project.photos.each do |photo| %>
    <li>
    <div id="window">
      <%= image_tag photo.image %>
    </div>
    </li>
  <% end %>

<% 3.times do %>
  <% @project.videos.each do |video| %>
    <li>
    <div id="window">
      <%= raw video_tag(video.url) %>
    </div>
    </li>
  <% end %>
<% end %>
  </ul>
</div>

<div>

<p>
  <b>Who:</b>
  <%= @project.who %>
</p>

<p>
  <b>Where:</b>
  <%= @project.where %>
</p>

<p>
  <b>What:</b>
  <%= @project.what %>
</p>

<p>
  <b>When:</b>
  <%= @project.when %>
</p>

<p>
  <b>Equipment used:</b>
  <%= @project.equipment_used %>
</p>
</div>
