<div id="my-slideshow">
<h1><%= @project.name %></h1>
<ul class="bjqs">
  <li>
  <div id="window">
    aa
  </div>
  </li>
  <li>
  <div id="window">
    bb
  </div>
  </li>
  <li>
  <div id="window">
    cc
  </div>
  </li>
</ul>
</div>

<div>
<p>
  <b>Who:</b>
  <%= @project.who %>
</p>

<p>
  <b>Where:</b>
  <%= @project.where %>
</p>

<p>
  <b>What:</b>
  <%= @project.what %>
</p>

<p>
  <b>When:</b>
  <%= @project.when %>
</p>

<p>
  <b>Equipment used:</b>
  <%= @project.equipment_used %>
</p>
</div>

<%= link_to 'Edit', edit_project_path(@project) %>
