<% title @project %>

<div id="project_buttons">
<div id="previous_project">
  <%= link_to("← #{@project.previous}", @project.previous) if @project.previous %>
  &nbsp;
</div>
<div id="next_project">
  &nbsp;
  <%= link_to("#{@project.next} →", @project.next) if @project.next %>
</div>
</div>

<script type="text/javascript" charset="utf-8">
  window.thumbs = <%= raw @project.photos.map{ |p| p.image.thumb.url }.to_json %>
</script>

<% unless @project.photos.empty? %>
<div id="sushislider">
  <a id="previous" href="#">Previous</a>
  <a id="next" href="#">Next</a>
  <div class="wrapper">
    <div id="inner_wrapper">
      <h1><%= @project.name %></h1>
      <div id="player_container"><div id="player"></div></div>
      <ul>
        <% @project.photos.each_with_index do |photo, index| %>
          <li class="item" style="background-image: url(<%= photo.image_url(:window) %>)" data-index="<%= index %>"></li>
        <% end %>
      </ul>

      <ol>
        <% @project.photos.each do |photo| %>
          <li class="thumb"><%= image_tag photo.image_url(:thumb) %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
<% end %>

<div id="project_detail" class="<%= 'no-videos' if @project.videos.empty? %>">
<h2><%= @project.name %></h2>
<span id="in_more_detail">In more detail</span>
<%= simple_format @project.description %>

<% unless @project.quotes.empty? %>
<ul id="quotes">
  <% @project.quotes.each do |quote| %>
  <li class="quote">
    <blockquote><%= simple_format "‘#{quote.body}’" %></blockquote>
    <span class="author"><%= quote.author %><%=  ", #{quote.organisation}" if quote.organisation.present? %></span>
  </li>
  <% end %>
</ul>
<% end %>
</div>


<div id="project_quotes">

  <div id="videos">
    <ul>
      <% @project.videos.each do |video| %>
        <li class="video"><%= raw video_tag(video.uid, '100%', 220) %></li>
      <% end %>
    </ul>
  </div>


</div>
