<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Urban Lites</title>
  <meta name="description" content="">
<!--  <meta name="viewport" content="width=device-width">-->
  <meta name="viewport" content="width=940">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE]>
  <style type="text/css" media="screen">
    * {
      font-family: Tahoma !important;
    }
  </style>
  <![endif]-->
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag("//maps.googleapis.com/maps/api/js?sensor=false") if action_name == "contact" %>
  <%= csrf_meta_tags %>
</head>
<body id="c-<%= controller_name %>-a-<%= action_name %>">

  <div class="page_wrapper">

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <% if current_user.present? %><div id="admin_bar"><%= link_to("ADMIN", admin_projects_path) %></div><% end %>

  <header>
    <div class="container">
      <div id="ident" data-url="<%= root_url %>">
        <div id="logo">
          <%= image_tag "urban_lites_logo.png", width: 247, height: 46, alt: 'Urban Lites' %>
        </div>
        <span id="tag_line">High quality lighting, rigging design and rental services.</span>
      </div>

      <div id="contact_details">
        <div id="telephone_number">Call us on 0161 402 3271</div>
        <span>to see how UrbanLites can light up your event.</span>
        <span>Alternatively, send us an email to chris@urbanlites.com</span>
      </div>
    </div>
  </header>

  <nav>
    <div class="container">
    <ul>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "Our Ethos", our_ethos_path %></li>
      <li><%= link_to "Activity", activity_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
    </div>
  </nav>

  <div role="main" id="main">
    <div class="container">
    <%= yield %></div>
  </div>

  <div class="push"></div>
  </div>

  <footer>
<div class="inner">
    <div class="container">
      <div id="social_buttons">
      <ul>
        <li class="twitter"><%= link_to "Twitter", 'http://twitter.com/urbanlites', title: 'Twitter' %></li>
        <li class="facebook"><%= link_to "Facebook", 'http://facebook.com/urbanlites', title: 'Facebook' %></li>
        <li class="youtube"><%= link_to "YouTube", 'http://youtube.com/urbanlites', title: 'YouTube' %></li>
        <li class="flickr"><%= link_to "Flickr", 'http://flickr.com/urbanlites', title: 'Flickr' %></li>
      </ul>
      </div>

      <div id="address">
        <span>UrbanLites Ltd, Unit 10, Medlock Court, The City Works, Manchester, M11 2NB</span>
        <span>Tel: +44 (0)161 402 3271 Email: <%= mail_to "chris@urbanlites.com" %></span>
      </div>

    </div>
</div>


  </footer>
  <%= javascript_include_tag "application" %>
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
